body {
  font-size: 16px;
}

/* SECTIONS */
header {
  margin: 1em 0;
}

section {
  margin: 2em;
}

.box {
  padding: 2em;
  font-size: 18px;
  color: #fff;
}

.red {
  background-color: #da3536;
}

.blue {
  background-color: #0d0f53;
}

.black {
  background-color: #000;
}
